body {
  background-color: azure;
  font-family: "PT Serif", serif;
}

h1 {
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #0badf8;
  text-align: center;
}

a {
  color: #0badf8;
}

header {
  margin-bottom: 30px;
}

form {
  display: flex;
}

footer {
  text-align: center;
  margin-top: 30px;
  font-size: 13px;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

.instructions {
  padding: 16px;
  border: 1px solid;
  width: 80%;
  font-size: 16px;
  border-radius: 10px;
  line-height: 20px;
  color: black;
  font-family: "PT Serif", serif;
}

.submit-button {
  margin-left: 10px;
  background: #0badf8;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 14px 24px;
  width: 150px;
  font-size: 16px;
  font-family: "PT Serif", serif;
}

.poem {
  font-size: 16px;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 20px 60px rgb(65, 50, 100, 0.08);
  border-left: 3px solid rgb(146, 189, 234);
  font-family: "PT Serif", serif;
}
.hidden {
  display: none;
}

.form-container {
  padding: 20px 20px;
  background-color: #89cff0;
  border-radius: 10px;
  box-shadow: 0px 20px 60px rgb(65, 50, 100, 0.08);
  margin-bottom: 30px;
  font-family: "PT Serif", serif;
}

.hint {
  line-height: 1.5;
  font-size: 12px;
  margin-top: 7px;
  margin-left: 5px;
  opacity: 0.6;
}

.generating {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
